@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #003459;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

#center-container {
    background-color: white;
    width: 60%;
    margin: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#paul-walker-quote {
    text-align: center;
}
  
#img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-caption {
    color: rgb(177, 177, 177);
}

#image {
    width: 60%;
    height: auto;
    margin: auto;
    max-width: 625px;
}
  
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#biography {
    width: 30%;
    padding: 15px;
    text-align: center;
}
  
#filmography {
    width: 30%;
    padding: 15px;
    text-align: center;
}

#filmography ul {
  list-style-type: none;
  padding: 0;
}
  
footer {
    display: flex;
    justify-content: center;
}